header {
  width: calc(100% - .5rem);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--black);
  z-index: 999;
}

footer {
  top: initial;
  bottom: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav span,
header nav ul {
  width: 33%;
}

@media (max-width: 650px) {

  header nav span,
  header nav ul {
    width: 50%;
  }
}

header nav span:nth-child(2) {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul,
header nav p {
  padding: 0;
  margin: 0;
}

header nav ul li {
  list-style: none;
}

header nav li:first-child,
header nav li:last-child {
  width: 75px;
}

header nav a,
header nav p {
  text-decoration: none;
  text-transform: uppercase;
}

/* ===============================
   Footer
================================ */

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

footer .top-row,
footer .bottom-row {
  width: 96%;
  padding: 2%;
}

.top-row h3 {
  font-size: 44px;
}

footer .bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.bottom-row .reel {
  width: 40%;
  max-width: 555px;
  margin-right: 50px;
}

.bottom-row .footer-menu {
  font-size: 33px;
  text-align: right;
}



.bottom-row .footer-menu ul {
  padding: 0;
  margin: 0;
}

.bottom-row .footer-menu ul li {
  list-style: none;
  padding: 0;
  line-height: 2;
}


@media (max-width: 1025px) {
  .top-row h3 {
    font-size: 33px;
  }

  .bottom-row .footer-menu {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  .top-row h3 {
    font-size: 28px;
  }

  .bottom-row .reel {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .bottom-row .footer-menu {
    font-size: 22px;
    text-align: left;
    width: 100%;
  }
}